@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;;0,900;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  font-family: Roboto, sans-serif;
  /* font-size: calc(100vw / 22); */
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}

body,
a {
  color: var(--color-foreground);
}

main {
  max-width: 500px;
  margin: 0 auto;
}

#output .block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: 900;
  background-color: var(--color-background);
  color: var(--color-foreground);
  padding: 1rem;
}

#info {
  padding: 1rem;
}

#text-input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  width: 1px;
}
